body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body > div {
    padding-left: 10px;
}

body > header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(124, 235, 124);
    padding: 10px;
    box-shadow: 1px 2px 3px rgb(177, 177, 177);
}

header > h1 {
    margin: 0;
    display: inline-block;
}

header > img {
    width: 40px;
    margin-right: 20px;
    display: inline-block;
}

#login-form {
    margin: 20px;
    padding: 20px;
    width: 300px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgb(177, 177, 177);
}

#login-form > *  {
    margin: 7px 0;
}

#login-form > h2 {
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

#login-form > input {
    border-radius:5px;
    border-style: none;
    padding: 5px;
    box-shadow: 1px 1px 1px rgb(128, 128, 128);
}

#connect-button {
    border-radius: 20px;
    border-style: none;
    padding: 7px 15px;
    background-color: rgb(195, 199, 255);
    box-shadow: 1px 1px 2px rgb(151, 151, 151);
    color: black;
}

#connect-button:hover {
    background-color: rgb(159, 165, 252);
    cursor: pointer;
}

#status-title {
    display: inline-block;
}

#status-light {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

#status-light.on {
    background-color: rgb(52, 255, 52);
    box-shadow: 0px 0px 3px rgb(77, 255, 77);
}

#status-light:not(.on) {
    background-color: rgb(182, 182, 182);
    box-shadow: 0px 0px 3px rgb(151, 151, 151)
}

#toggle-button {
    border-radius: 20px;
    border-style: none;
    padding: 7px 14px;
    box-shadow: 1px 1px 2px rgb(180, 180, 180);
    background-color: rgb(159, 165, 253);
}

#toggle-button:hover {
    background-color: rgb(195, 199, 255);
    cursor: pointer;
}

#logout-button {
    border-radius: 20px;
    border-style: none;
    padding: 7px 14px;
    color: rgb(226, 226, 226);
    background-color: rgb(243, 49, 49);
    box-shadow: 0px 0px 3px rgb(151, 151, 151);

    position: absolute;
    top: 20px;
    right: 20px;
}

#logout-button:hover {
    background-color: rgb(233, 102, 102);
    cursor: pointer;
}

#control {
    margin: 20px;
    padding: 15px;
    max-width: 300px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgb(177, 177, 177);
}

#control h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#actions {
    margin-top: 20px;
}

#server-down-error.notvisible {
    display: none;
}

#server-error.notvisible {
    display: none;
}